<%= form_for(@spellsheet) do |f| %>
  <% if @spellsheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spellsheet.errors.count, "error") %> prohibited this spellsheet from being saved:</h2>

      <ul>
      <% @spellsheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :character_id %><br>
    <%= f.text_field :character_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
