<h1>Listing spellsheets</h1>

<table>
  <thead>
    <tr>
      <th>Character</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spellsheets.each do |spellsheet| %>
      <tr>
        <td><%= spellsheet.character %></td>
        <td><%= link_to 'Show', spellsheet %></td>
        <td><%= link_to 'Edit', edit_spellsheet_path(spellsheet) %></td>
        <td><%= link_to 'Destroy', spellsheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spellsheet', new_spellsheet_path %>
