<h1>Listing infosheets</h1>



<div class="row">
  <div class="col-xs-1">
    <h4>Deity</h4>
  </div>
  <div class="col-xs-1">
    <h4>Homeland</h4>
  </div>
    <div class="col-xs-1">
    <h4>Size</h4>
  </div>
  <div class="col-xs-1">
    <h4>Height</h4>
  </div>
</div>
<% @infosheets.each do |infosheet| %>
<div class="row">
  <div class="col-xs-1">
    <%= infosheet.deity %>
  </div>
  <div class="col-xs-1">
    <%= infosheet.homeland %>
  </div>
  <div class="col-xs-1">
    <%= infosheet.size %>
  </div>
  <div class="col-xs-1">
    <%= infosheet.height %>
  </div>
  <div class="col-xs-3">
        <%= link_to 'Show', infosheet %> | 
        <%= link_to 'Edit', edit_infosheet_path(infosheet) %> | 
        <%= link_to 'Destroy', infosheet, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
<% end %>

<br>

<%= link_to 'New Infosheet', new_infosheet_path %>
