  <div class="form-group">
<%= form_for(@character, remote: true) do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @character.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <div class="col-xs-6">
        <h3><%= @character.race %>
          <%= @character.charclass %></h3>
          <h4><%=  @character.alignment %> by nature</h4>
      </div>
      <div class="col-xs-6">
        <h3>Level <%= @character.level %></h3>
      </div>
      <div class="col-xs-12">
          <%=  @character.age %> year old <%=  @character.gender %>
      </div>
      <div class="col-xs-12">
          Of <%=  @character.size %> stature at <%=  @character.height %>&quot; tall, weighing <%=  @character.weight %>lbs
      </div>
      <div class="col-xs-12">
         With <%=  @character.hair %> hair and <%=  @character.eyes %> eyes
      </div>
      <div class="col-xs-12">
         Hailing from <%=  @character.homeland %> and worshipping <%=  @character.deity %>
      </div>
    <div class="col-xs-12">
      <div class="actions">
        <%= f.submit 'submit' , :class => 'btn btn-primary' %>
      </div>
    </div>

<% end %>
  </div> <!-- form-group -->
