<% @skillsheet = Skillsheet.find (params[:id]) %>
<div class="form-group">
<%= form_for(@skillsheet) do |f| %>
  <% if @skillsheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skillsheet.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @character.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-2">
      <div class="field">
        <%= f.label :acrobTot %><br>
        <%= f.text_field :acrobTot %>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="field">
        <%= f.label :appraTot %><br>
        <%= f.text_field :appraTot %>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="field">
        <%= f.label :bluffTot %><br>
        <%= f.text_field :bluffTot %>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="field">
        <%= f.label :climbTot %><br>
        <%= f.text_field :climbTot %>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="field">
        <%= f.label :diploTot %><br>
        <%= f.text_field :diploTot %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="actions">
    <%= f.submit 'submit' , :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>
</div>
