<div class="form-group">
<% @spells = Spell.find (params[:id]) %>
<%= form_for(@spells) do |f| %>
  <% if @spells.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spells.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @spells.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-2">
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="field">
        <%= f.label :attack %><br>
        <%= f.text_field :attack, class: 'form-control'  %>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="field">
        <%= f.label :range %><br>
        <%= f.text_field :range, class: 'form-control'  %>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="field">
        <%= f.label :duration %><br>
        <%= f.text_field :duration, class: 'form-control'  %>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="field">
        <%= f.label :memorized %><br>
        <%= f.check_box :memorized, class: 'checkbox'  %>
      </div>
    </div>
    
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>

