<div class="row">
  <h1>Listing characters</h1>
</div>

<div class="row">
  <div class="col-xs-3">
    <th>Name</th>
  </div>
  <div class="col-xs-3">
    <th>Race</th>
  </div>
    <div class="col-xs-3">
    <th>Class</th>
  </div>
</div>
<% @characters.each do |character| %>
<div class="row">
  <div class="col-xs-3">
    <%= character.name %>
  </div>
  <div class="col-xs-3">
    <%= character.align %>
  </div>
  <div class="col-xs-6">
        <%= link_to 'Show', character %> | 
        <%= link_to 'Edit', edit_character_path(character) %> | 
        <%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
<% end %>


<br>

<%= link_to 'New Character', new_character_path %>
