<div class="row">
  <h1>Listing characters</h1>
</div>

<div class="row">
  <div class="col-xs-3">
    <h4>Name</h4>
  </div>
  <div class="col-xs-2">
    <h4>Race</h4>
  </div>
    <div class="col-xs-2">
    <h4>Class</h4>
  </div>
  <div class="col-xs-2">
    <h4>level</h4>
  </div>
</div>
<% @characters.each do |character| %>
<div class="row">
  <div class="col-xs-3">
    <%= character.name %>
  </div>
  <div class="col-xs-2">
    <%= character.race %>
  </div>
  <div class="col-xs-2">
    <%= character.charclass %>
  </div>
  <div class="col-xs-2">
    <%= character.level %>
  </div>
  <div class="col-xs-3">
        <%= link_to 'Show', character %> | 
        <%= link_to 'Edit', edit_character_path(character) %> | 
        <%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
<% end %>


<br>

<%= link_to 'New Character', new_character_path %>
