<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Race:</strong>
  <%= @character.race %>
</p>

<div class="col-xs-3">
  <%= link_to 'Info', infosheets %>
  </div>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
