<h1>Listing skillsheets</h1>

<table>
  <thead>
    <tr>
      <th>Character</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @skillsheets.each do |skillsheet| %>
      <tr>
        <td><%= skillsheet.character %></td>
        <td><%= link_to 'Show', skillsheet %></td>
        <td><%= link_to 'Edit', edit_skillsheet_path(skillsheet) %></td>
        <td><%= link_to 'Destroy', skillsheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Skillsheet', new_skillsheet_path %>
